
// Fonts
@import url('https://fonts.googleapis.com/css?family=Lobster|Playfair+Display|Raleway');
@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar h1{font-family: 'Lobster', cursive;}
.navbar a{font-family: 'Raleway', sans-serif;}
h1{font-family: 'Playfair Display', serif;}
h2, h3{font-family: 'Raleway', sans-serif;}
// a{color: #f3cb56;}
// a:hover{color: #c1b180; text-decoration: none;}
p{font-family: 'Raleway', sans-serif;}
a{font-family: 'Raleway', sans-serif;}
button:focus {
  outline: none !important;
}

.sweetbrief-add{
	width: 50px;
	position: fixed;
	bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 24px;
  cursor: pointer;
}

.sweetbrief-add i{
	background-color: #986ceb;
  border-radius: 50%;
  color: white;
  padding: 10px 12px;
}

textarea{
  font-family: 'Raleway', sans-serif;
  font-size: 1.575rem !important;
}