<template>
	<form class="mb-3 text-right" action="/">
		<div class="form-group">
			<textarea 
				v-model="postContent"
				class="form-control p-5"
				name="content"
				cols="30"
				rows="4"
				:placeholder="quote">
			</textarea>
		</div>
		<button type="submit"
				class="btn btn-primary"
				@click.prevent="addStory"
				:disabled="postingIsDisabled">
			Post
		</button>
	</form>
</template>

<script>
	export default{
			data () {
				return {
					postContent: "",
					postingIsDisabled: false,
					quote: ""
				}
			},
			mounted: function(){
				axios.get('/api/quote').then(response => {
					this.quote = response.data;
				});
			},
			methods: {
				addStory() {

					this.postingIsDisabled = true;

					axios.post('/api/stories', {content: this.postContent}).then(response => {

						this.postingIsDisabled = false;

						window.location.reload();

					});

					this.$root.$emit("added-story", "hello from sibling")
				}
		}
	}
</script>


